*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
    padding: 0 140px;
    font-family:sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav__middle{
    display: flex;
    align-items: center;
}

.nav__middle > button:first-of-type{
    margin-right: 10px;
}

.nav__middle > button{
    height: 30px;
    padding: 0 20px;
    background: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__middle > button > span{
    margin-left: 5px;
    margin-top: 2px;
}

.nav__right > button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

/* MAIN STYLES */
main{
    min-height: max-content;
    margin-top: 80px;
    display: flex;
    position: relative;
}

.main__left{
    /* background: red; */
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 20px;
}

.main__left > div:first-of-type > p{
    font-size: 4.5rem;
    color: #232B34;
    font-weight: 500;
}

/* .main__left > div:nth-of-type(2) {
} */

.main__right{
    display: flex;
    position: relative;
}

.main__right > img:nth-of-type(2){
    margin-left: 24px;
}

.main__right > img:nth-of-type(3){
    position: absolute;
    top: 73px;
    right: 0;
}

/* SECTION 1*/

.sectionOne{
    height: 100vh;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.sectionOne__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 132px;
}

.sectionOne__left > img{
    margin-bottom: 1rem;
}

.sectionOne__left > p{
    color: #232B34;
    font-size: 3.5rem;
    letter-spacing: -0.01em;
    font-family: sans-serif;
    text-align: left;
}

.sectionOne__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FC;
}

.sectionOne__right > img{
    height: 90%;
}

/* SECTION 2 */
.sectionTwo{
    height: 100vh;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.sectionTwo__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 132px;
    background: #1380EC;
    color: white;
}

.sectionTwo__left > img{
    margin-bottom: 1rem;
}


.sectionTwo__left > p{
    font-size: 3.5rem;
    letter-spacing: -0.01em;
    font-family: sans-serif;
    text-align: left;
}

.sectionTwo__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FC;
}

.sectionTwo__right > img{
    height: 90%;
}

/* SECTION 3 */
.sectionThree{
    height: 100vh;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.sectionThree__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 132px;
    background: #EF476F;
    color: white;
}

.sectionThree__left > img{
    margin-bottom: 1rem;
}


.sectionThree__left > p{
    font-size: 3.5rem;
    letter-spacing: -0.01em;
    font-family: sans-serif;
    text-align: left;
}

.sectionThree__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FC;
}

.sectionThree__right > img{
    height: 90%;
}


/* SECTION 4 */

.sectionFour{
    height: 100vh;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
}

.sectionFour__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 132px;
    background: #232B34;
    color: white;
}

.sectionFour__left > img{
    margin-bottom: 1rem;
}


.sectionFour__left > p{
    font-size: 3.5rem;
    letter-spacing: -0.01em;
    font-family: sans-serif;
    text-align: left;
}

.sectionFour__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FC;
}

.sectionFour__right > img{
    height: 90%;
}

/* FOOTER STYLES */

footer{
    width: 100%;
    min-height: 238px;
    text-align: center;
    padding: 40px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__body > button{
    height: 30px;
    padding: 0 20px;
    background: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer__body > button > span{
    margin-left: 5px;
}

.footer__body > .button1{
    margin-right: 4px;
}

.footer__body > .button2{
    margin-left: 4px;
}


.footer__end > p{
    font-size: 1rem;
}

.footer__end > p > span{
    text-decoration: underline;
}
